body {
  background: rgb(84, 134, 226);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.container {
  width: 800px;
  margin: 30px auto;
  padding: 100px;
  color: rgb(231, 188, 94);
  text-align: center;
}
#seconds,
#tens {
  font-size: 2em;
}
button {
  width: 150px;
  height: 50px;
  background: transparent;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
}
button:hover {
  background: rgb(238, 71, 107);
  color: white;
}
